# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

.vscode/
.idea/

# =========================
# Test / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# AWS / Secrets
.aws/
.env

# Build artifacts
lambda.zip
