name: ETL-Aws-Pipeline-Crypto

on:
  push:
    branches: 
      - main
      - master

permissions:
  id-token: write   # WAJIB untuk OIDC
  contents: read

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Setup Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # 3. Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      # 4. Run tests
      - name: Install project
        run: |
          pip install -e .

      - name: Run tests
        run: |
          python -m pytest testing/test_crypto_schema_unit.py -v

      # 5. Configure AWS credentials via OIDC
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::048270140767:role/github-actions-deploy-role
          aws-region: ap-southeast-1

      # 6. Deploy Lambda code
      - name: Deploy Lambda (crypto ingestion)
        run: |
          zip -r lambda.zip ingestion
          aws lambda update-function-code \
            --function-name crypto-hourly-ingestion \
            --zip-file fileb://lambda.zip

      # 7. Upload Glue script to S3
      - name: Upload Glue scripts
        run: |
          aws s3 cp glue/ s3://crypto-data-lake-limitmax/glue/ --recursive